body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

button {
  padding: 10px;
  background-color: #3882F6;
  color: #F9FAF8;
  border-radius: 8px;
  width: 120px;
  border: 0px;
  font-weight: bold;
}

h1 {
  font-size: 48px;
  font-weight: 800;
  margin: 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 70px;
}

.header {
  flex: auto
}

.hero {
  background-color: #1f2937;
  color: #F9FAF8;
  padding: 0px 150px 100px
}

.link,
.image {
  display: flex;
  align-items: center;
  padding-right: 20px;
  color: #E5E7EB
}

.image {
  background-color: #69707e;
  justify-content: center;
  flex: 1;
  padding: 10px;
}

.container {
  display: flex;
}

.hero-body {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.text {
  font-size: 18px;
  margin-top: 0
}

.information {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* For second section: Similar to first, have an overall container,
with flex and column. Then either a loose header or a container
if needed for the header. Then a container holding the four boxes
with flex row. Then loose paragraphs that should be in columns
because of the parent flex column container. Just make sure
it is outside of the container with the empty boxes (divs). */