body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

button {
  padding: 10px;
  background-color: #3882F6;
  color: #F9FAF8;
  border-radius: 8px;
  width: 100px;
  border: 0px
}

h1 {
  font-size: 48px;
  font-weight: 800;
  margin: 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
}

.header {
  flex: auto
}

.hero {
  background-color: #1f2937;
  color: #F9FAF8;
  padding: 0px 150px 100px
}

.link,
.image {
  display: flex;
  align-items: center;
  padding-right: 20px;
  color: #E5E7EB
}

.image {
  background-color: #69707e;
  justify-content: center;
  flex: 1;
  padding: 10px;
}

.container {
  display: flex;
}

.hero-body {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.text {
  font-size: 18px;
  margin-top: 0
}