body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

button,
.bordered-button {
  padding: 10px;
  background-color: #3882F6;
  color: #F9FAF8;
  border-radius: 8px;
  width: 120px;
  border: 0px;
  font-weight: bold;
}

h1 {
  font-size: 48px;
  font-weight: 800;
  margin: 0;
}

footer {
  background: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  color: #F9FAF8
}

.header-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 70px;
}

.header {
  flex: auto
}

.hero {
  background-color: #1f2937;
  color: #F9FAF8;
  padding: 0px 150px 100px;
  flex: 1;
}

.link,
.image {
  display: flex;
  align-items: center;
  padding-right: 20px;
  color: #E5E7EB
}

.image {
  background-color: #69707e;
  justify-content: center;
  flex: 1;
  padding: 10px;
}

.container {
  display: flex;
}

.hero-body {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.text {
  font-size: 18px;
  margin-top: 0;
  color: #E5E7EB
  
}

.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.box-container {
  display: flex;
  padding: 10px;
  padding-bottom: 0;
}
.box {
  border: #3882F6 solid;
  width: 120px;
  height: 120px;
  border-radius: 10px;
  margin: 0 20px;
}

.info-subtext {
  display: flex;
}

.subtext {
  width: 120px;
  height: auto;
  text-align: center;
  margin: 5px 20px;
  color: #3d3d3d;
  font-size: 18px;
}

.info-header {
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;
  padding: 20px
}

.quotation {
  display: flex;
  flex-direction: column;
  background-color: #E5E7EB;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.quote-subtext {
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
  font-size: 18px;
  color: #1f2937;
  margin: 0;
}

.quote {
  font-size: 36px;
  color: #1f2937;
}

.quote,
.quote-subtext {
  width: 700px;
}

.call {
  display: flex;
  justify-content: center;
  background-color: #3882F6;
  padding: 15px 100px;
  margin: 50px;
  border-radius: 6px;
}

.call-container {
  display: flex;
  justify-content: center;
  flex: 1;
}

.column-container {
  display: flex;
  flex-direction: column;
  color: #F9FAF8;
}

.bordered-button {
  border: 1px white solid;
  height: fit-content;
  padding: 5px;
}

.button-container {
  display: flex;
  align-items: center;
  margin-left: 130px;
}

.call-header {
  margin-bottom: 0;
}